<h1 class='showHeading'>Welcome to {{spaeti.name}}</h1>
<p>{{spaeti.location.address.street}}</p>

<div class='mainDiv'>
<div class='showPageDiv'>
  <div>
    <p class='productPrice'></> 
<div class="display-fridge">
  <div class="display-bottles">
{{#each spaeti.inventory}}
<img class="drinksImages" src="/images/products/{{name}}.png" name='{{name}}' value={{price}} alt="">
{{/each}}
</div>
</div>
</div>

{{#if spaeti.hasWC}}
<div class='bathroom'>
  <p><strong>Bathroom ✅</strong></p>
  <img class='bathroomImg' src="/images/facilities/bathroom_door.png" alt="">
{{else}}
  <p><strong>Bathroom ❌</strong></p>
  <img class='bathroomImg' src="/images/facilities/bathroom_door-fade.png" alt="">
{{/if}}
</div>

<div class='atm'>
{{#if spaeti.hasAtm}}
  <p><strong>ATM ✅</strong></p>
  <img class='atmImg'src="/images/facilities/atm_machine1.png" alt="">
{{else}}
<p><strong>ATM ❌</strong></p>
  <img class='atmImg'src="/images/facilities/atm_machine-fade.png" alt="">
{{/if}}
</div>

<div class='outdoorSeating'>
{{#if spaeti.hasSeating}}
  <p><strong>Outdoor seating ✅</strong></p>
  <img class='outdoorSeatingImg' src="/images/facilities/outdoor-seating.jpg" alt="">
{{else}}
  <p><strong>Outdoor seating ❌</strong></p>
    <img class='outdoorSeatingImg' src="/images/facilities/outdoor-seating-fade.png" alt="">
{{/if}}
</div>

</div>
<div class='reviews'>
<h3>Reviews</h3>

{{!-- List the reviews --}}




{{#if spaeti.reviews}}
	{{#each spaeti.reviews}}
  <div class='reviewScroll'>
		<div class="card mb-3">
      <div class="card-body">
      <h4 class= "card-title">{{user}}</h4>
			<p class="card-text">Review: {{text}}</p>
		</div>
 
       </div>
       </div>
	{{/each}}
{{else}}

<p>No reviews yet</p>

{{/if}}

<h3>Add a review</h3>

<form action="/spaeti/{{spaeti._id}}/reviews" method="POST">
	<label for="text">Your review: </label>
	<input class="form-control" type="text" name="text" id="text">
	<button class="btn btn-success" type="submit">Add this review</button>
</form>



<div >
{{#if user}}
<a class='editLink' href='/spaeti/edit/{{spaeti._id}}'>Edit this Späti ✏️</a>
{{/if}}
</div>
<div>
{{#if user}}
<a class='deleteLink'href="/spaeti/delete/{{spaeti._id}}">Delete this Späti from the database ❌</a>
{{/if}}
</div>

</div>

</div>


<script>
  var inventory  = {{{inventory}}}
  let drinkPopups = document.querySelectorAll(".drinksImages")
  let productPrices = document.querySelector(".productPrice")
  console.log('these are the drinks',drinkPopups)
drinkPopups.forEach(function(drink) { 
  drink.addEventListener("click", function() {
      productPrices.innerHTML= (drink.getAttribute('name') + ': ' + drink.getAttribute('value') +'€')
      {{!-- filter when object.name is equal to current string --}}
      })
        }); 
</script>


{{!-- fridge --}}
{{!-- <a href='https://www.freepik.com/vectors/food'>Food vector created by macrovector - www.freepik.com</a> --}}

{{!-- bench --}}
{{!-- <a href="https://www.vecteezy.com/free-vector/picnic-table">Picnic Table Vectors by Vecteezy</a> --}}

{{!-- bathroom --}}
{{!-- <a href="https://www.vecteezy.com/free-vector/bathroom-door">Bathroom Door Vectors by Vecteezy</a> --}}

{{!-- atm --}}
{{!-- <a href="https://www.vecteezy.com/free-vector/atm">Atm Vectors by Vecteezy</a> --}}