<h1>{{spaeti.name}}</h1>
<p>{{spaeti.location.address}}</p>
<p>{{spaeti.hasSeating}}</p>
<p>{{spaeti.hasWC}}</p>
<p>{{spaeti.hasAtm}}</p>
<h2>Products:</h2>
<p>{{spaeti.inventory}}</p>
<h2>Reviews:</h2>
<p>{{spaeti.reviews}}</p>

<a href="/spaeti/edit/{{spaeti._id}}">Edit this Späti ✏️</a>
